@page
@model StuttgartCore.Pages.modul08.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>index</h1>
<form novalidate>
    <input type="email" required/>
    <input type="range" min="0" max="10" />
<button>send</button>  
 </form>

