@page "{handler?}"

@model StuttgartCore.Pages.modul03.calcModel
@{
    ViewData["Title"] = "calc";
}

<h1>calc</h1>
<form>
    <input name="eins" />
    <input name="zwei" />
    <button asp-page-handler="plus">+</button>
    <button asp-page-handler="minus">-</button>
</form>
@Model.Ergebnis

