@page
@model StuttgartCore.Pages.modul03.calcModel
@{
    ViewData["Title"] = "calc";
}

<h1>calc</h1>
<form>
<input name="eins" />
    <input name="zwei" />
    <button>add</button>
</form>
@Model.Ergebnis

