@page
@model StuttgartCore.Pages.modul04.indexModel
@{
    ViewData["Title"] = "^Franz";
   // Layout = null;
}

<h1>index</h1>
<a href="#" class="btn  btn-outline-danger" >click mich</a>

@section Scripts
{

}
<script>

</script>