@page
@model StuttgartCore.Pages.modul05.cachedModel
@{
    ViewData["Title"] = "cached";
}

<h1>cached</h1>
<cache enabled="true" expires-after="@new TimeSpan(0,0,10)" vary-by-query="id" >
    @DateTime.Now
</cache>
<hr />
@Model.MyProperty
