@page
@model StuttgartCore.Pages.modul05.DateiUploadModel
@{
    ViewData["Title"] = "DateiUpload";
}

<h1>DateiUpload</h1>
<div class="row">
    <div class="col">
        <form enctype="multipart/form-data" method="post">
            <div class="custom-file">
                <input type="file" id="datei" class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose file</label>
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
     
    </div>
</div>
