@page
@model StuttgartCore.Pages.modul07.RechPos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Positionen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Positionen.RechnungenID" class="control-label"></label>
                <select asp-for="Positionen.RechnungenID" class="form-control" asp-items="ViewBag.RechnungenID"></select>
             
            </div>
            <div class="form-group">
                <label asp-for="Positionen.Anzahl" class="control-label"></label>
                <input asp-for="Positionen.Anzahl" class="form-control" />
                <span asp-validation-for="Positionen.Anzahl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Positionen.Text" class="control-label"></label>
                <input asp-for="Positionen.Text" class="form-control" />
                <span asp-validation-for="Positionen.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Positionen.Preis" class="control-label"></label>
                <input asp-for="Positionen.Preis" class="form-control" />
                <span asp-validation-for="Positionen.Preis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
